---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import MarketingImages from '../components/MarketingImages.astro';
---

<Layout title="Get Archive">
    <Hero />
    <MarketingImages />
    <footer class="fixed bottom-0 left-0 w-full p-4 text-center font-baskerville bg-[#f2e8d5]">
        <a 
            href="/privacy" 
            class="text-text-primary/70 md:pr-2 pr-1 hover:text-text-primary text-sm transition-colors"
        >
            Privacy Policy
        </a>
        <a 
            href="/terms" 
            class="text-text-primary/70 md:px-2 px-1 hover:text-text-primary text-sm transition-colors"
        >
            End User License Agreement
        </a>
        <a 
            href="/safety-labels" 
            class="text-text-primary/70 md:pl-2 pl-1 hover:text-text-primary text-sm transition-colors"
        >
            Safety Labels
        </a>
    </footer>
</Layout>