---
// SpotifyEmbed.astro
interface Props {
  playlistId: string;
  width?: string;
  height?: string;
}

const { 
  playlistId = "6VucgcoLbLaq6RgWPrdT54", 
  width = "100%", 
  height = "352" 
} = Astro.props;
---

<div class="spotify-embed-container">
  <iframe 
    style="border-radius:12px" 
    src={`https://open.spotify.com/embed/playlist/${playlistId}?utm_source=generator`}
    width={width} 
    height={height} 
    frameborder="0" 
    allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy">
  </iframe>
</div>

<style>
  .spotify-embed-container {
    margin: 1rem 0;
  }
</style>